html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background: linear-gradient(to right, #263238, #37474f);
    color: white;
}

body {
  margin-bottom: 60px;
  background-color: #121212;
  color: #e0e0e0;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #434957; /* fondo oscuro en hover */
    color: #00bfff; /* texto azul claro en hover */
}

.navbar, .footer {
    background-color: #1f1f1f;
    color: #ccc;
}

.nav-link {
    color: #e0e0e0 !important;
}

.nav-link:hover {
    color: #00bcd4 !important;
    transform: scale(1.05);
}
.nav-link, .btn {
    transition: all 0.3s ease-in-out;
}

.container, .card, .form-control {
    background-color: #1e1e1e;
    border-color: #333;
    color: #e0e0e0;
}

.btn-primary {
    background-color: #00bcd4;
    border-color: #00acc1;
    color: #000;
}

a {
    color: #80d8ff;
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spinner {
    -moz-appearance: textfield;
}

.validaciones-info{
  border-top: 2px solid #ccc;
  padding: 10px
}



/*------------------Estilos para los modales-----------*/
.modal-content {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #444;
}
.modal-header.bg-danger {
    background-color: #c62828 !important;
}





/*------------------Estilos para la tabla de inmuebles INDEX-----------*/
.tabla-index {
    table-layout: auto;
    width: 100%;
    font-size: 0.9rem;
}

.tabla-index th,
.tabla-index td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;   
    padding: 0.5rem;
}
