html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spinner {
    -moz-appearance: textfield;
}

.validaciones-info{
  border-top: 2px solid #ccc;
  padding: 10px
}


/*------------------Estilos para la tabla de inmuebles INDEX-----------*/
.tabla-inmuebles {
    table-layout: auto;
    width: 100%;
    font-size: 0.9rem;
}

.tabla-inmuebles th,
.tabla-inmuebles td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;   
    padding: 0.5rem;
}
